.logOutButton {
    width: 66px;
    height: 66px;
    padding: 12px;
    display: flex;
    margin: 12px 0;
    cursor: pointer;
    border: none;
    align-items: center;
    background-color: #fff;
    text-align: left;
}
/* 원래 없다가 1300되면 나타나게 */
.logOutUserName {
    display: none;
}
.logOutUserImage {
    display: flex;
    align-items: center;
}
.logOutUserImage img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* 모든 미디어 유형에서, 화면 너비가 1300px 이상인 경우에 해당하는 CSS 규칙을 정의하는 것 */
@media all and (min-width: 1300px) {
    .logOutButton {
        width: 258px;
        height: 258px;
    }
    .logOutUserName {
        margin: 0 12px;
        display: inline-block;
    }
    .logOutUserName > div:first-child {
        font-weight: bold;
    }
}
.logOutButton:hover {
    background-color: rgba(15, 20, 25, 0.1);
    border-radius: 33px;
}
